@import "src/variables";

.flex {
  margin: auto;
  display: flex;
  flex-flow: column;
  max-width: 25em;
  min-width: 19em;

  .item {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: stretch;
  }

  button.backup {
    height: 3em;
  }
}
