<main>
  <h1>Administration</h1>
  <app-remote-form></app-remote-form>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <div>Remote repos</div>
      <input type="text" formControlName="remote" />
    </label>
    <label>
      <div>Local repos</div>
      <input type="text" formControlName="local" />
    </label>
    <button class="primary" type="submit" [disabled]="f.invalid">Update</button>
  </form>

  <ul>
    <li>
      <b>Last backup: </b><span>{{ last | date: "medium" }}</span>
    </li>
    <li>
      <b>Next backup: </b><span>{{ next | date: "medium" }}</span>
    </li>
  </ul>
  <button (click)="backup()">Backup now!</button>
</main>
