<main>
  <h1>Administration</h1>
  <div class="flex">
    <div class="item">
      <app-options-form></app-options-form>
      <br />
      <div>
        <div>
          <b>Last backup: </b
          ><span>{{ backupInfo.last | date: "medium" }}</span>
        </div>
        <div>
          <b>Next backup: </b
          ><span>{{ backupInfo.next | date: "medium" }}</span>
        </div>
      </div>
      <br />
    </div>
    <div class="item">
      <button
        [disabled]="backuping || !goodConfig"
        class="primary backup"
        (click)="backup()"
      >
        <span *ngIf="!backuping">Backup now!</span>
        <ng-container *ngIf="backuping">
          <span> Backuping </span>
          <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
        </ng-container>
      </button>
      <div *ngIf="backuping">
        <b>Status:</b>
        <span> {{ processed }} / {{ total }}</span>
      </div>
    </div>
  </div>
</main>
