<main>
  <h1>Administration</h1>
  <div class="flex">
    <div class="item">
      <app-options-form></app-options-form>
      <br />
      <div>
        <div>
          <b>Last backup: </b
          ><span>{{ backupInfo.last | date: "medium" }}</span>
        </div>
        <div>
          <b>Next backup: </b
          ><span>{{ backupInfo.next | date: "medium" }}</span>
        </div>
      </div>
      <br />
    </div>
    <div class="item">
      <button class="primary backup" (click)="backup()">Backup now!</button>
      <div>
        <b>Last status:</b>
        <span> {{ backupInfo.backupStatus }}</span>
      </div>
    </div>
  </div>
</main>
