/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";

@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  width: 100%;
  padding: 0.5em;
}

h1 {
  text-align: center;
}

button {
  padding: 0.5em 1em;
  border: 0.1em solid #eee;
  background: #eee;
  &:not(:disabled) {
    cursor: pointer;
    &:hover {
      border-color: #ddd;
      background: #ddd;
    }
    &:active {
      border-color: #ccc;
      background: #ccc;
    }

    &.primary {
      border-color: $primary-color;
      background: $primary-color;
      color: #fff;
      &:hover {
        border-color: lighten($primary-color, 10%);
        background: lighten($primary-color, 10%);
      }
      &:active {
        border-color: lighten($primary-color, 20%);
        background: lighten($primary-color, 20%);
      }
    }
  }
}

form {
  width: 100%;
  min-width: 19em;
  max-width: 25em;
  display: flex;
  flex-flow: column;

  nav {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    button {
      flex-grow: 0.4;
    }
  }
}

input {
  width: 100%;
  padding: 0.5em 1em;
  border: 0.1em solid #ddd;
  &.ng-dirty {
    background: #eee;
  }
}

label {
  padding-bottom: 0.5em;
}
