<form [formGroup]="f" (ngSubmit)="submit()">
  <label>
    <div>Directory containing local repos</div>
    <input
      [class.error]="!isLocalStatusOK()"
      type="text"
      formControlName="local"
    />

    <div *ngIf="isLocalStatusOK()">
      <fa-icon [icon]="faCheck"></fa-icon>
      <span>{{ backupInfo.localStatus }}</span>
    </div>
    <div *ngIf="!isLocalStatusOK()">
      <fa-icon [icon]="faExclamationTriangle"></fa-icon>
      <b>{{ backupInfo.localStatus }}</b>
    </div>
  </label>
  <label>
    <div>Backup time interval (seconds)</div>
    <input type="number" formControlName="intervalInSecond" min="0" step="1" />
  </label>
  <nav>
    <button type="button" (click)="reset()">Reset</button>
    <button class="primary" type="submit" [disabled]="f.invalid">
      Update Local repos
    </button>
  </nav>
</form>
