@import "src/variables";

label {
  position: relative;
}

input + fa-icon {
  position: absolute;
  right: 0.75em;
  top: 1.75em;
}

input.ng-invalid + fa-icon {
  color: $primary-color;
}

input.ng-valid + fa-icon {
  color: red;
}
