<form [formGroup]="f" (ngSubmit)="submit()">
  <label>
    <div
      title="This directory which contains all backup git repositories. (ex: an external drive directory)"
    >
      <a
        href="https://github.com/jlguenego/jlg-backup/blob/master/README.md"
        target="_blank"
        ><fa-icon [icon]="faQuestionCircle"></fa-icon
      ></a>
      <span>Backup directory</span>
    </div>
    <input
      [class.error]="!isRemoteStatusOK()"
      type="text"
      formControlName="remote"
    />

    <div *ngIf="isRemoteStatusOK()">
      <fa-icon [icon]="faCheck"></fa-icon>
      <span>{{ backupInfo.remoteStatus }}</span>
    </div>
    <div *ngIf="!isRemoteStatusOK()">
      <fa-icon [icon]="faExclamationTriangle"></fa-icon>
      <b>{{ backupInfo.remoteStatus }}</b>
    </div>
  </label>
  <label>
    <div
      title="This directory which contains all local repositories. (ex: somewhere on your laptop hardrive)"
    >
      <a
        href="https://github.com/jlguenego/jlg-backup/blob/master/README.md"
        target="_blank"
        ><fa-icon [icon]="faQuestionCircle"></fa-icon
      ></a>
      <span>Project directory</span>
    </div>
    <input
      [class.error]="!isLocalStatusOK()"
      type="text"
      formControlName="local"
    />

    <div *ngIf="isLocalStatusOK()">
      <fa-icon [icon]="faCheck"></fa-icon>
      <span>{{ backupInfo.localStatus }}</span>
    </div>
    <div *ngIf="!isLocalStatusOK()">
      <fa-icon [icon]="faExclamationTriangle"></fa-icon>
      <b>{{ backupInfo.localStatus }}</b>
    </div>
  </label>
  <label>
    <div
      title="JLG Backup will start backup after every interval. (ex: 3600 for backuping every hours)"
    >
      <a
        href="https://github.com/jlguenego/jlg-backup/blob/master/README.md"
        target="_blank"
        ><fa-icon [icon]="faQuestionCircle"></fa-icon
      ></a>
      <span>Backup time interval (seconds)</span>
    </div>
    <input type="number" formControlName="intervalInSecond" min="0" step="1" />
  </label>
  <nav>
    <button type="button" (click)="reset()">Reset</button>
    <button class="primary" type="submit" [disabled]="f.invalid">
      Update Config
    </button>
  </nav>
</form>
